{% extends 'base.html' %}

{% block title %} Lista de Tarefas {% endblock %}

{% block content %}
<div class="offset-1 col-10 list-div">
    <h1>{{ About }} </h1>
    <p>
    This project was proposed by professor Matheus Battisti, from the YouTube channel
    <a href="https://www.youtube.com/channel/UCDoFiMhpOnLFq1uG4RL4xag"> 'Hora de Codar' </a>.
    </p>
    <p>
        This code was created by
        <a href="https://www.linkedin.com/in/newton-perazzo/">Newton Perazzo </a>
        as a way of learning to enter the job market.
    </p>
    <p> GitHub: <a href="https://github.com/newtonperazzo"> Newton Perazzo </a></p>
</div>

{% endblock %}